# Virtual environment
venv/

# Python cache & compiled files
__pycache__/
*.py[cod]
*$py.class

# Local SQLite database
db.sqlite3
db.sqlite3-journal

# VS Code / IDE configs
.vscode/
.idea/

# OS metadata
.DS_Store
Thumbs.db